
<h1>Welcome!</h1>
<p>You are at the homage of {{name}}'s {{title}}.</p>
<p>This is a <strong>Lab 9</strong> assignment.</p>
<a href="/register">
  <button type="button">Go to Register page</button>
</a>
<h4>Or</h4>
<a href="/login">
  <button type="button">Go to Login page</button>
</a>